# map vs apply vs applymap
참고 사이트  
[프로그래머 싸이님의 블로그(바로가기)](https://programmerpsy.tistory.com/22)  
[점프 투 파이썬](https://wikidocs.net/32)

## 1) map함수
> map(function, iterable)은 함수(function)와 반복가능한(iterable) 자료형을 입력으로 받는다.

- DataFrame 타입이 아니라, 반드시 Series 타입에서만 사용해야 한다.
- 시리즈의 **모든 요소**에 함수를 일괄적용한다.
> 시리즈란?  
인덱스와 값으로 이루어진 클래스

- 시리즈는 1차원 numpy 배열과 비슷하지만, 인덱스를 붙일 수 있다.

## 2) apply함수
- DataFrame에서 사용 가능한 함수
- DataFrame의 행 또는 열에 해당하는 Series에 함수를 일괄 적용.
- axis 옵션으로 함수가 적용 될 행/열을 정할 수 있다.

In [3]:
import pandas as pd

def maxMinusMin(sr):
    return sr.max() - sr.min()

df = pd.DataFrame([[1,3,5],[4,5,6],[7,8,10]])
df.apply(maxMinusMin, axis = 0)

0    6
1    5
2    5
dtype: int64

#### return값을 조정하여 여러개 행/열로 출력 가능

In [6]:
def maxMinusMin2(sr):
    sr2 = pd.Series([sr.max(), sr.min(), sr.max()-sr.min()], index = ['최대값','최소값','차이'])
    return sr2

df.apply(maxMinusMin2, axis =0)

     0  1   2
최대값  7  8  10
최소값  1  3   5
차이   6  5   5

In [7]:
df.apply(maxMinusMin2, axis =1)

   최대값  최소값  차이
0    5    1   4
1    6    4   2
2   10    7   3

###  3) applymap함수
- DataFrame에서 사용가능한 함수
- DataFrame의 **모든 값**에 함수 일괄 적용

In [9]:
import numpy as np

df2 = pd.DataFrame([[1,1,1],[2,2,2],[3,3,3]])
df2.applymap(np.sqrt)

          0         1         2
0  1.000000  1.000000  1.000000
1  1.414214  1.414214  1.414214
2  1.732051  1.732051  1.732051

# filter 함수
> filter(함수, 반복가능한 개체)
- 반복가능한 객체에서 **특정 조건에 맞는 요소만** 가져온다. 지정한 함수의 반환값이 True일때만 가져온다.

In [4]:
def f(x):
    return x > 5 and x < 10
a = [8,3,2,10,15,7,1,9,0,11]
list(filter(f,a))

[8, 7, 9]

# lambda 함수
[파이썬 코딩도장(바로가기)을 참고함](https://dojang.io/mod/page/view.php?id=2360)

> lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식

In [7]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x: str(x) if x % 3 == 0 else x,a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]